.menu {
  color: var(--menu-fg);
  padding: 0.25rem 0.75rem 0.75rem;
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: white;
    font-size: 1.1rem;
    text-decoration: none; /* removes underline */
  }
}

.menu nav {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* adds space between the links */
}

.menu button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font: inherit;
  padding: 0;
  text-align: left;
  text-decoration: underline;
}

.tmdbAttribution {
  margin-top: 2rem;
}

.tmdbAttribution img {
  height: 1rem;
}

.tmdbAttribution p {
  margin: 0;
}
