.movieCard {
  display: grid;
  grid-template-rows: 1.7rem 1.7rem 1.7rem 1.7rem;
  grid-template-columns: 4.9rem 2.9rem 1.75rem 2.3rem 1fr;
  align-items: center; /*Vertically center items in grid cells*/
  cursor: pointer;
  margin: 0.5rem 0;
}

.posterImage {
  grid-row: 1 / 5;
  grid-column: 1;
  height: 6.8rem;
  aspect-ratio: 2/3;
  border-radius: 0.5rem;
}

.title {
  grid-row: 1;
  grid-column: 2 / 6;
  font-weight: bold;
}

.directors {
  grid-row: 2;
  grid-column: 2 / 6;
}

.genres {
  grid-row: 3;
  grid-column: 2 / 6;
}

.year {
  grid-row: 4;
  grid-column: 2;
}

.language {
  grid-row: 4;
  grid-column: 3;
}

.score {
  grid-row: 4;
  grid-column: 4;
}

.ratingImage {
  grid-row: 4;
  grid-column: 5;
  height: 1.3rem;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.horizontalRule {
  height: 1px;
  background-color: gray;
  border: none;
}
