.movieCard {
  display: flex;
  align-items: center; /* This vertically centers all children */
  margin: 1rem 0;
  border-radius: 0.5rem;
  background-color: var(--card-bg);
  cursor: pointer;
}

.posterImage {
  height: 6rem;
  aspect-ratio: 2 / 3;
}

.ratingImage {
  height: 1.5rem;
}
