.movieDetails {
  width: 100%;
  background-color: var(--bg);
  color: var(--fg);
}

.movieDetails img {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: block;
}

.movieDetails div {
  padding-bottom: 0.1rem; /* This removes gap at the bottom of modal*/
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.movieDetails h1 {
  margin: 0.75rem 0 0.5rem;
}

.movieDetails h2 {
  font-size: 1.4rem;
  margin: 1rem 0 0.75rem;
}

.movieDetails p {
  margin: 0.75rem 0;
}

/* Used for genre tags */
.movieDetails span {
  background-color: green;
  color: white;
  display: inline-block;
  margin: 0.15rem 0.3rem 0.15rem 0;
  border-radius: 0.3rem;
  padding: 0.2rem 0.3rem;
}

.internalLink {
  color: var(--link-fg);
  text-decoration: none;
}
