.movieDetails {
  width: 100%;
  background-color: var(--bg);
  color: var(--fg);
}

.movieDetails img {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.movieDetails div {
  margin: 1rem;
}

.movieDetails span {
  background-color: green;
  color: white;
}