/* -----------------------------
        Mobile and tablet view
   ----------------------------- */
.posterMobileView {
  width: 100%;
}

.posterMobileView img {
  width: 100%;
  display: block;
}

/* -----------------------------
        Desktop view
   ----------------------------- */
.posterDesktopView {
  width: 100%;
}

.posterDesktopView img {
  max-height: 100vh;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
