.sidebar {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-fg);
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: white;
    /* text-decoration: none; Optional: removes underline */
  }
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* adds space between the links */
}

.opinionImage {
  height: 1.5rem;
}
