.tabletLayout {
  display: flex;
  height: 100vh;
}

.tabletLayout > div:nth-child(1) {
  flex: 0 0 16.5rem; /* 16.5rem width, don't grow or shrink */
  overflow: auto;
  height: 100%;
  background-color: var(--menu-bg);
}

.tabletLayout > div:nth-child(2) {
  overflow: auto;
  height: 100%;
}