/* Colors for light mode */
:root {
  --bg: #f9f9f9;
  --fg: #000000;
  --menu-bg: #0000b3;
  --menu-fg: white;
  --link-fg: hsl(212, 92%, 40%);
}

/* Colors for dark mode (only the colors that differ from light mode) */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1e1e1e;
    --fg: #f5f5f5;
    --link-fg: hsl(212, 92%, 75%);
  }
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
}

input {
  font-family: "Noto Sans", sans-serif;
  color: var(--fg);
  background-color: var(--bg);
  border: 0.15rem solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  border: none;
  padding: 0.65rem;
  border-radius: 0.5rem;
  color: white;
  background-color: blue;
  cursor: pointer;
}


.outlet {
  padding: 0 0.75rem;
}

.outlet h1 {
  margin: 0.4rem 0;
}