/* Colors for light mode */
:root {
  --bg: #ffffff;
  --fg: #0f0f0f;
  --card-bg: #dedede;
  --menu-fg: white;
  --menu-bg: darkblue;
  --movieapp-green: #00d900;
  --movieapp-lightblue: #056dff;
  /* scrollbar-color: blue red; */
}

/* Colors for dark mode */
body.dark {
  --bg: #0f0f0f;
  --fg: #f1f1f1;
  --card-bg: #2a2a2a;
  --menu-fg: white;
  --menu-bg: darkblue;
  --movieapp-green: #00d900;
  --movieapp-lightblue: #056dff;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
}

/* TODO: This is here because sometimes the modal is rendered with border,
even though Modal.module.css specifies  border: none;*/
dialog {
  border: none;
}
