/* Colors for light mode */
:root {
  --bg: #f9f9f9;
  --fg: #000000;
  --menu-bg: #0000b3;
  --menu-fg: white;
  /* --movieapp-lightblue: #056dff; */
  --link-fg: #056dff;
}

/* Colors for dark mode */
body.dark {
  --bg: #1e1e1e;
  --fg: #f5f5f5;
  --menu-bg: #0000b3;
  --menu-fg: white;
  /* --movieapp-lightblue: #056dff; */
  --link-fg: #056dff;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
}
